@CHARSET "ISO-8859-1";

#banner {
	text-align:center;
	width:100%;
	margin-bottom:20px;
}

.block {
	float:left;
	width:48%;
}

.block .image {
	width:75px;
	float:left;
	margin-bottom:15px;
}

.block .text {
	width:230px;
	float:left;
}

.description {
	padding:0 75px;
	text-align:center;
	font-weight:bold;
	font-size:14px;
}

.description:first-letter {
	font-size:24px;
}