/* ******************************************************************************************* */
/* Eclipse.org style sheet */
/* Version: 0.1            */
/* Create date: Dec 15, 2004 */
/* Author:  Nellie Klump */
/* Last update: Jan 6, 2005 */
/* ******************************************************************************************* */

/* ============================ Page heading ============================ */
#page_header {
  background-color:#FFFFFF;
  margin: 5px 0 0 15px;
  width: 100%;
  height: 25px;
  text-align: left;
  font: bold 18pt Verdana;
  clear:left;
}
#page_sub_header {   
  margin: 5px 0 18px 15px;
  background-color:#FFFFFF;
  text-align: left;  
  font: normal 8pt Arial;
  color: blue;
}

/* ============================ Section heading  & dividers ============================ */
#section_header {
  background-color:#0080C0;
  margin: 10px 0 0 0;
  float:left;
  width: 100%;
  height: 20px;
  text-align: left;
  clear:both;
  font: bold 14px Arial;
  color: #FFFFFF;
  text-indent: 10px;  
}

#section_hlight {
  border: 2px outset #6699FF; 
  background-color:#f0f8ff;
  margin: 5px 0 0 0;
  width: 540px;
  height: 22px;
  text-align: left;
  font-family: Arial, Tahoma, Sans-serif; font-size: 12px; font-weight: 800; font-style: normal; text-decoration: none;
  color: #000000;
  text-indent: 10px;
}

#section_divider {
  border-bottom: 4px solid #0070a0;
  background-color: #FFFFFF
  margin: 10px 0 0 0;
  float:left;
  width: 100%;
  height: 1px;
  clear:both;
}

/* ============================ Legal statements ============================ */
#copyright {
 margin: 20px 0 0 0;
 font-family: Arial, Tahoma, Sans-serif; font-size: 10px; font-weight: 400; font-style: normal; text-decoration: none;
 color: #000000;
 clear: both;
}

/* ============================ Right-column: Resources ============================ */
#rightcol_res {
  border: 2px outset #6699FF; 
  background-color:#FFFFFF;
  margin: 5px 0 10px 0;
  width: 150px;
  height: 120px;
  text-align: left;
  font-family: Arial, Tahoma, Sans-serif; font-size: 12px; font-weight: 400; font-style: normal; text-decoration: none;
}

#rightcol_heading {
  background-color:#f0f8ff;
  border-bottom: 1px solid #000000;
  margin: 0 0 5px 0;
  width: 150px;
  height: 22px;
  text-align:center;
  font-family: Arial, Tahoma, Sans-serif; font-size: 12px; font-weight:800; font-style: normal; text-decoration: none;
}

/* ============================ Lists ============================ */


/* ============================ General list ============================ */
dl#gen_list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl#gen_list dd{ 
  margin: 10px 0 0 0;
  color:black;
  font-family: Arial, Tahoma, Sans-serif; font-size: 12px; font-weight: 800; font-style: normal; text-decoration: bold;
  clear:both;
  text-indent: 15px;

}

dl#gen_list dt{
  margin: 5px 0 5px 10px;
  clear:both;
  display: inline;  
  
}

.shift_left
{
  padding-left:50px;
}

/* ============================ Component definition list ============================ */
dl#comp_list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl#comp_list dd{ 
  margin: 20px 0 0 0;
  color:black;
  font-family: Arial, Tahoma, Sans-serif; font-size: 14px; font-weight: 800; font-style: normal; text-decoration: bold;
  clear:both;
  background-image:url("images/bullet.gif");
  background-repeat:no-repeat;
  text-indent: 15px;

}

dl#comp_list dt{
  margin: 5px 0 5px 20px;
  clear:both;
}

/* ============================ Subsystem lists ============================ */
dl#subsys_list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width:100%;
}

dl#subsys_list dd{
  border-top: 1px solid #666;
  margin: 20px 0 0 0;
  color:black;
  font-family: Arial, Tahoma, Sans-serif; font-size: 14px; font-weight: 800; font-style: normal; text-decoration: bold;
  clear:both;
}

dl#subsys_list dd a{
  font-family: Arial, Tahoma, Sans-serif; font-size: 14px; font-weight: 800; font-style: normal; text-decoration: none;
}

dl#subsys_list dt{
  margin: 5px 0 5px 20px;
  clear:both;
}

/* ============================ Pipe list  =========================== */
#pipelist_container { margin-left: 30px; }

#pipelist
{
list-style: none;
padding: 0;
margin: 0;
}

#pipelist li
{
display: inline;
padding: 0;
margin: 0;
}

#pipelist li:before { content: "| "; }
#pipelist li:first-child:before { content: ""; }

/*IE workaround*/
/*All IE browsers*/
* html #pipelist li
{
border-left: 1px solid black;
padding: 0 0.4em 0 0.4em;
margin: 0 0.4em 0 -0.4em;
}

/*Win IE browsers - hide from Mac IE\*/
* html #pipelist { height: 1%; }

* html #pipelist li
{
display: block;
float: left;
}

/*End hide*/
/*Mac IE 5*/
* html #pipelist li:first-child { border-left: 0; }


/* ============================ Image Maps ============================ */
.image_map { 
  float:left;
  width:700px;
  clear:both;
  margin: 15px 0 0 0;
  border: 1px solid #000000;
  background-color:#FFFFFF;
}
.img_caption {
  font-family: Arial, Tahoma, Sans-serif; font-size: 10px; font-weight: 400; font-style: normal; text-decoration: none;
}

/* ============================ General Content ============================ */
.content {
  float:left;
  width: 100%;
  margin: 5px 0 0 0;
  clear:both;
  font-family: Arial, Tahoma, Sans-serif; font-size: 12px; font-weight: 400; font-style: normal; text-decoration: none;
}

.main_content {
  width: 540px;
  clear:both;
  font-family: Arial, Tahoma, Sans-serif; font-size: 12px; font-weight: 400; font-style: normal; text-decoration: none;
}

/* ============================ Table ============================ */
table#tbl_info {
  float:left;
  margin: 10px 0 10px 0;
  border-collapse:collapse;
  border:black solid 1px;
  padding:5px;
  clear:both;
}

table#tbl_info th{
  background-color:#99CCFF;
  font-family: Arial, Tahoma, Sans-serif; font-size: 12px; font-weight: 800; font-style: normal; text-decoration: bold;
  border: black solid 1px;
  width:200px;
}

table#tbl_info td{
  border: black solid 1px;
  font-family: Arial, Tahoma, Sans-serif; font-size: 12px; font-weight: 400; font-style: normal; text-decoration: none;
}

/* ============================ Tabbed container ============================ */
 #navcontainer ul
{
padding: 1px 0;
margin: 10px 0 0 0;
border-bottom: 10px solid #0070a0;
font: bold 8px Verdana, sans-serif;
 }

#navcontainer li
{
list-style: none;
margin: 0;
display: inline;
line-height:18px;
padding: 2px 0.5em;
margin-left: 2px;
border: 1px solid #0070a0;
border-bottom: none;
background: #99CCFF;
}

#navcontainer a
{

text-decoration: none;
}

#navcontainer a:link
{
color: #ffffff;
text-decoration: none;
padding-left: 0.25em;
padding-right: 0.25em;
}

#navcontainer a:visited
{
color: #FFFFFF;
}

#navcontainerclear { display: none; }

html>body #navcontainerclear
{
display: block;
clear: both;
}

#navcontainer li#link1
{
background-color: #99CCFF;
color: #FFFFFF;
border: 1px solid #0070a0;
}  

#navcontainer li#link2
{
background-color: #99CCFF;
color: #FFFFFF;
border: 1px solid #0070a0;
}  
#navcontainer li#link3
{
background-color: #99CCFF;
color: #FFFFFF;
border: 1px solid #0070a0;
}  
#navcontainer li#link4
{
background-color: #99CCFF;
color: #FFFFFF;
border: 1px solid #0070a0;
}  
#navcontainer li#link5
{
background-color: #99CCFF;
color: #FFFFFF;
border: 1px solid #0070a0;
}  
#navcontainer li#link6
{
background-color: #99CCFF;
color: #FFFFFF;
border: 1px solid #0070a0;
}  

#navcontainer li#link7
{
background-color: #99CCFF;
color: #FFFFFF;
border: 1px solid #0070a0;
}  

#navcontainer li#link8
{
background-color: #99CCFF;
color: #FFFFFF;
border: 1px solid #0070a0;
}  

#navcontainer li#enh1
{
background-color: #3399FF;
color: #FFFFFF;
border: 1px solid #0070a0;
}  

#navcontainer li#enh2
{
background-color: #3399FF;
color: #FFFFFF;
border: 1px solid #0070a0;
}  

#navcontainer li#enh3
{
background-color: #3399FF;
color: #FFFFFF;
border: 1px solid #0070a0;
} 

/* ********************** Navigation bar container ******************************* */
#navbar_container { 
width: 200px; 
background-color:#6699CC;
}

#navbar_container ul
{
margin-left: 0;
padding-left: 0;
list-style-type: none;
font-family: Arial, Helvetica, sans-serif;
}
#navbar_container li
{
list-style: none;
background-color: #90C8FF;
color: #000000;
border-bottom: 1px solid #CFFFFF;
text-indent:5px;
}


#navbar_container a
{
display: block;
padding: 3px;
width: 160px;
text-decoration: none;
color:#000000;
}
#navbar_container a:visited
{
display: block;
padding: 3px;
width: 160px;
text-decoration: none;
color: #000000;
}

